* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  background-color: #37474F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin-top: 50px;
  margin-bottom: 40px;
  flex: 1;
}

@keyframes float {
  0% { bottom: 0; }
  25% { bottom: 5px }
  50% { bottom: 0 }
  75% { bottom: -5px }
  100% { bottom: 0; }
}

.container {
  border: 1px solid #263238;
  background-color: #455A64;
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  padding-bottom: 80px;
}

h1 {
  color: #CCC;
  font-family: 'Lucida Calligraphy', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 50px;
}

h1 .la,
h1 .vieja {
  position: relative;
  animation: float linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

h1 .vieja {
  animation-delay: 0.3s;
}

#game-table {
  margin: 0 auto;
  border-collapse: collapse;
  position: relative;
}

td {
  color: #CCC;
  border: 2px solid #BBB;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  cursor: pointer;
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

.message-block{
  display: block;
  height: 300px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-color: #607D8B;
  position: relative;
  text-align: center;
  color: white;
  font-size: 2em;
  transition: height 0.3s linear;
}

button {
  color: #EEE;
  outline: none;
  letter-spacing: 1px;
  margin-top: 20px;
  height: 50px;
  width: 80%;
  min-width: 180px;
  max-width: 250px;
  border: 1px solid #E0E0E0;
  background: none;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  color: #2196F3;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #263238;
  transition: all .2s;
  z-index: -1;
}

button:hover:after {
  height: 100%;
}

i {
  transition: transform .3s ease-in-out;
}

button:hover i {
  transform: rotate(180deg);
}

footer {
  background-color: #263238;
  text-align: center;
  color: #EEE;
  padding: 8px;
}

.footer-container {
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  main {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body {
    font-size: 0.9em;
    overflow: hidden;
  }

  button {
    font-size: 0.8em;
  }

  .container {
    padding: 30px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-container p {
    color: .9em;
    margin: 3px 0;
  }
}